#ue2009p
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
    #ue2010p
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#ue2011p
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#ue2013p
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#ue2015p
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#ue2020p
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#ue2022p
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#nue_com_chamado
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#nue_sem_chamado
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#bat_reserva
    {
        background-color: #F5F6CE;
        color: rgb(241, 9, 9);
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#bat_subst
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
    #bat_barriga_aluguel
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#bat_vazando
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }
	#bat_oxidada
    {
        background-color: #F5F6CE;
        color: black;
        text-align: center;
        font-weight: bold;
        width: 150px;
        font-size: 20px;
    }